<p style="color: green"><%= notice %></p>

<% content_for :title, "Reviews" %>

<h1>Reviews</h1>

<%= form_tag "/reviews", method: "GET" do %>
  <%= label_tag :search %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>

<%= link_to "New review", new_review_path %>
